/*背景*/
.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/*导航栏*/
.menu {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    display: flex; /* 使用 Flexbox 布局 */
    align-items: center; /* 垂直居中对齐 */
    justify-content: space-between;
    backdrop-filter: blur(10px);
    z-index: 999;
}

/*专辑照片和歌名*/
.imgAndsong {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*歌名框*/
.songNameTop {
    margin-left: 20px; /* 调整歌名和专辑照片之间的距离 */
}

/*歌名*/
.songNameTop p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

/*专辑盒子*/
.Img-fit {
    display: flex;
}

/*专辑照片*/
.Img-fit .block {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

/*下拉栏*/
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-right: auto; /* 将下拉菜单推到左侧 */
    height: 40px;
    border: 3px #ffffff solid;
    border-radius: 20px;
    transition: padding 0.3s ease;
    padding: 0 10px;
}

/*下拉按钮*/
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: bold;
}

/*小三角*/
.arrow {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.dropdown:hover .arrow {
    transform: rotate(180deg);
}

/*下拉三个按钮*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 105px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    top: 100%;
    border-radius: 15px;
    animation: dropdownAnimation 0.3s ease-out; /* 添加动画属性 */
    animation-fill-mode: forwards; /* 保持动画最后一帧状态 */
}

/*三个按钮字体*/
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

@keyframes dropdownAnimation {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*歌单盒子*/
.songListBox {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column; /* 使子元素垂直堆叠 */
    align-items: center; /* 使子元素在交叉轴上居中对齐 */
}

/*歌单字*/
.songSum {
    font-size: 70px;
    color: white;
    text-align: center;
    animation: slide-in-up 1s ease-in-out forwards;
    animation-delay: 0s;
    margin: 0;
}

/*歌名*/
.songName {
    font-size: 45px;
    color: white;
    text-align: center;
    animation: slide-in-up 1s ease-in-out forwards;
    animation-delay: 0s;
    margin: 0;
}

/*歌词容器*/
.songWord {
    width: 800px;
    height: 300px;
    overflow: auto;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    text-align: center; /* 新增: 使歌词居中对齐 */
}

.songWord ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*歌词*/
.songWord li {
    font-size: 23px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    animation: slide-in-up 1s ease-in-out forwards;
    animation-delay: 0s;
    transition: font-size 0.3s ease, color 0.3s ease;
    line-height: 1.5; /* 新增: 设置行高,使歌词之间有一些间距 */
}

/*歌单、歌名动画*/
@keyframes slide-in-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*滚动条*/
.songWord::-webkit-scrollbar {
    width: 7px;
}

.songWord::-webkit-scrollbar-track {
    background-color: transparent;
}

.songWord::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.songWord::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*加载界面背景*/
.el-loading-mask.is-fullscreen{
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.7);
}
